<title>Students</title>
<div class="container-fluid">
    <div class="row-fluid">
        <div ng-controller="StudentsCtrl">
            <form name="newStudent" ng-submit="addStudent()" class="form-horizontal" role="form">
                <div class="form-group" ng-class="has-success: newStudent.firstNameInput.$error.pattern">
                    <label for="firstNameInput" class="col-md-2 control-label">First Name:</label>
                    <div class="col-md-3">
                        <input id="firstNameInput" name="firstName" class="form-control" ng-pattern="/\S/" ng-model="student.firstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastNameInput" class="col-md-2 control-label">Last Name:</label>
                    <div class="col-md-3">
                        <input id="lastNameInput" name="lastName" class="form-control" ng-pattern="/\S/" ng-model="student.lastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gradeSelect" class="col-md-2 control-label">Grade:</label>
                    <div class="col-md-3">
                        <select id="gradeSelect" name="grade" ng-model="student.grade" ng-options="grade as grade.name for grade in grades"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1 col-md-offset-7">
                        <input type="submit" id="submit" value="Add">
                    </div>
                    <div class="col-md-1">
                        <input type="button" ng-click="resetStudent()" value="Cancel">
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: left">Name</th>
                            <th style="text-align: center">Grade</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="student in students track by student.id" bn-log-dom-creation="With">
                            <td style="text-align: left">{{student.firstName}}&nbsp;{{student.lastName}}</td>
                            <td style="text-align: center">{{student.grade.name}}</td>
                            <td id={{student.id}} style="text-align: right">
                                <button title="Edit Student..." type="button" class="btn btn-xs" ng-click="editStudent($event)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button title="Delete Student..." type="button" class="btn btn-xs" ng-click="deleteStudent($event)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>